* {
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact:hover {
    background-color: #E0E0E0;
}
.contact > .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.contact > .name > h3 {
    margin: 0px;
    text-align: center;
}
.unbold {
    font-weight: normal;
}

.contact > .address{
    display: flex;
    font-style: normal;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.contact > .address > h3 {
    margin: 0px;
    text-align: center;
}
.button {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.green {
    background-color: #4CAF50;
}
.green:hover {
    background-color: #46a049;
}
.red {
    background-color: #f44336;
}
.red:hover {
    background-color: #da190b;

}
.blue {
    background-color: #007bff;
}
.blue:hover {
    background-color: #0056b3;
}
.gray {
    background-color: #6c757d;
}
.gray:hover {
    background-color: #5a6268;
}

.command {
    font-size: 13px;
    text-align: left; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
}

.command h4 {
    margin: 10px; 
    padding: 0; 
}
.normal-text {
    font-weight: normal;
    font-style: normal;
}

.highlight {
    font-weight: bold;
    font-style: italic;
}



.page {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
.page > p {
    color: gray;
}

.contact-list {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;

    border-radius: 5px;
    margin-bottom: 15px;
    width: 30%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.contact-list > h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.new-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-contact > input {
    margin-bottom: 8px;
}

.company-list, .phone-list {
    width: 100%; 
    max-width: 600px; 
    margin: 10px auto; 
}
.collapsible-title {
    font-size: 16px; 
    font-weight: bold; 
    text-align: left; 
    margin-bottom: 10px; 
}


.company-list > table, .phone-list > table {
    width: 100%; 
    border-collapse: collapse; 
}

.company-list > table th, .phone-list > table th,
.company-list > table td, .phone-list > table td {
    text-align: left; 
    padding: 8px; 
    border: 1px solid #b1b1b1; 
}

.company-list > table th, .phone-list > table th {
    background-color: #f1f1f1; 
    font-weight: bold; 
}

.company-list > table td, .phone-list > table td {
    font-size: 14px; 
}



.new-phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-phone > input {
    margin-right: 5px;
    width: 100%;
}


.stats > p {
    color: gray;
    cursor: pointer;
    text-align: center;
}
.stats > p:hover {
    color: black;
}

.stats-container {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;

    border-radius: 5px;
    margin-bottom: 15px;
    
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    text-align: center;

    padding-left: 15px;
    padding-right: 15px;
}



.new-company {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-company > input {
    margin-right: 5px;
    width: 100%;
}

.collapsible-container {
    margin-bottom: 20px; 
}
  
.collapsible-title {
    cursor: pointer; 
    margin: 10px 0; 
    font-size: 16px; 
    font-weight: bold; 
    color: #333; 
}
  
 .collapsible-content {
    cursor: pointer; 
    margin-top: 5px;
    border-top: 1px solid #ccc; 
    padding-top: 10px; 
}
  



