* {
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contact .name,
.contact .address {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically align label and input */
    justify-content: flex-start; /* Align label and input to the left */
    margin-bottom: 10px; /* Add spacing between rows */
    width: 100%;
}

.contact .name h3,
.contact .address h3 {
    margin: 0;
    text-align: left; /* Align labels to the left */
    width: 90px; /* Consistent width for the labels */
    font-size: 16px; /* Uniform font size for labels */
}
.contact:hover {
    background-color: #E0E0E0;
}

.unbold {
    font-weight: normal;
}
.style {
    font-size: 16px;
    font-weight: normal;
}


.button {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.green {
    background-color: #4CAF50;
}
.green:hover {
    background-color: #46a049;
}
.red {
    background-color: #f44336;
}
.red:hover {
    background-color: #da190b;

}
.blue {
    background-color: #007bff;
}
.blue:hover {
    background-color: #0056b3;
}
.gray {
    background-color: #6c757d;
}
.gray:hover {
    background-color: #5a6268;
}

.command {
    font-size: 13px;
    text-align: left; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
}

.command h4 {
    margin: 10px; 
    padding: 0; 
}
.normal-text {
    font-weight: normal;
    font-style: normal;
}

.highlight {
    font-weight: bold;
    font-style: italic;
}



.page {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
.page > p {
    color: gray;
}

.contact-list {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;

    border-radius: 5px;
    margin-bottom: 15px;
    width: 30%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.contact-list > h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.new-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-contact > input {
    margin-bottom: 10px;
}

.company-list, .phone-list {
    width: 100%; 
    max-width: 600px; 
    margin: 10px auto; 
}
.collapsible-title {
    cursor: pointer; /* Indicates interactivity */
    font-size: 16px; /* Sets font size */
    font-weight: bold; /* Makes it stand out */
    text-align: left; /* Aligns text */
    margin: 10px 0; /* Adds vertical spacing */
    color: #333; /* Sets text color */
}


.new-phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-phone > input {
    margin-right: 5px;
    width: 100%;
}
.company-list > table, .phone-list > table {
    width: 100%; 
    border-collapse: collapse; 
}

.company-list > table th, .phone-list > table th,
.company-list > table td, .phone-list > table td {
    text-align: left; 
    padding: 8px; 
    border: 1px solid #b1b1b1; 
}

.company-list > table th, .phone-list > table th {
    background-color: #f1f1f1; 
    font-weight: bold; 
}

.company-list > table td, .phone-list > table td {
    font-size: 14px; 
}


.stats > p {
    color: gray;
    cursor: pointer;
    text-align: center;
}
.stats > p:hover {
    color: black;
}

.stats-container {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;

    border-radius: 5px;
    margin-bottom: 15px;
    
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    text-align: center;

    padding-left: 15px;
    padding-right: 15px;
}



.new-company {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-company > input {
    margin-right: 5px;
    width: 100%;
}

.collapsible-container {
    margin-bottom: 20px; 
}
  
.collapsible-content {
    cursor: pointer; 
    margin-top: 5px;
    border-top: 1px solid #ccc; 
    padding-top: 10px; 
}
.contact .name input,
.contact .address input {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex-grow: 1; /* Make input field take remaining space */
    max-width: 300px; /* Optional: Set a maximum width for the input field */
}

.contact .contactAction{
   text-align: left;
   width: 100%;
}
.contact .editContact{
    margin-top: 10px;
    text-align: left;
    width: 100%;

}
.company-list table input,
.phone-list table input {
    width: 100%; 
    box-sizing: border-box; 
    padding: 5px; 
    font-size: 14px; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
}

.company-list table,
.phone-list table {
    table-layout: fixed; 
}

.company-list table th,
.phone-list table th,
.company-list table td,
.phone-list table td {
    word-wrap: break-word; 
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px; /* Space above the message */
    text-align: center;
}


